# ------------------------------------------------------------------------------
# OS & Editor specific files
# ------------------------------------------------------------------------------
.DS_Store
.vscode/

# ------------------------------------------------------------------------------
# Local Environment & Tooling
# ------------------------------------------------------------------------------
.env
.env.local
.env.production
.netlify
bun.lockb
CRUSH.md

# ------------------------------------------------------------------------------
# Dependencies & Build output
# ------------------------------------------------------------------------------
.astro/
.vitest/
coverage/
dist/
node_modules/

# ------------------------------------------------------------------------------
# Logs
# ------------------------------------------------------------------------------
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------------------------------------------------------------
# Project specific files
# ------------------------------------------------------------------------------
# Ignore renamed language folder
src/pages/_[lang]

# ------------------------------------------------------------------------------
# Downloaded & Synced files
# ------------------------------------------------------------------------------
# Downloaded font files
public/fonts/
# Synced content from Kirby CMS
public/content/
AGENTS.md
