---
import VectorImage from '@components/VectorImage.astro';
import type { BlockVectorComponentProps } from '../types/components.types';

const { image, widthMobile, widthDesktop, widthAlign, metadata } =
	Astro.props as BlockVectorComponentProps;
---

<div
	id={metadata?.identifier || undefined}
	class:list={['blockVector', 'blocks', metadata?.classes]}
	{...metadata?.attributes}
>
	<div
		class:list={['flex', 'flex-col', `align-vert--${widthAlign || 'center'}`]}
	>
		<VectorImage
			image={image}
			widthMobile={widthMobile}
			widthDesktop={widthDesktop}
		/>
	</div>
</div>
