---
import { toRem } from '@lib/helpers';
import type { BlockDividerComponentProps } from '../types/components.types';

const {
	global,
	spacingMobileTop,
	spacingMobileBottom,
	spacingDesktopTop,
	spacingDesktopBottom,
	metadata,
} = Astro.props as BlockDividerComponentProps;

const gridBlockMobile = toRem(global.gridBlockMobile) || '1rem';
const gridBlockDesktop = toRem(global.gridBlockDesktop) || '1rem';
---

<div
	id={metadata?.identifier || undefined}
	class:list={['blockDivider', 'blocks', metadata?.classes]}
	{...metadata?.attributes}
>
</div>

<style
	lang="css"
	define:vars={{
		spacingDesktopBottom,
		spacingDesktopTop,
		spacingMobileBottom,
		spacingMobileTop,
		gridBlockMobile,
		gridBlockDesktop,
	}}
>
	.blockDivider {
		@apply pb-[var(--spacingMobileBottom)] pt-[var(--spacingMobileTop)] lg:pb-[var(--spacingDesktopBottom)] lg:pt-[var(--spacingDesktopTop)];
	}
</style>
